# configuration for menu.cgi
#
# Place this file as ".mcgi.config" in the same folder as menu.cgi
#

# edit as needed
$CONFIG->{LIB_URI} = "http://10.255.255.254/m/syslinux/lib";
$CONFIG->{CGI_URI} = "http://10.255.255.254/m.cgi";

1;

# For custom menu template, uncomment below and edit
__DATA__
######################################################################
# Standard Preamble
######################################################################
serial 0 115200
#serial 1 115200
prompt 1

######################################################################
# Menu Configuration
######################################################################
menu title DEMO: Dynamic menu over HTTP (<%= $CGI->param('q') %>)
menu margin 1

label self
  menu label .    - Reload
  kernel <%= $LIB_URI %>/menu.c32
  append <%= $CGI_URI %>?<%= $ENV{QUERY_STRING} %>

label prev
  menu label ..   - Go uplevel
  kernel <%= $LIB_URI %>/menu.c32
  append <%= $CGI_URI %>?q=<%= $UPLEVEL %>

label main
  menu label main - Jump to main menu
  kernel <%= $LIB_URI %>/menu.c32

menu separator

######################################################################
# Menu Items
######################################################################

<% foreach my $item (grep { $_->{type} eq ':message' } @$LIST) { %>
say <%= $item->{text} %>
<% } %>

<% foreach my $item (grep { $_->{type} eq ':asis' } @$LIST) { %>
<%= $item->{text} %>
<% } %>

<% foreach my $item (grep { $_->{type} eq ':menu' } @$LIST) { %>
label <%= $item->{name} %>
  kernel <%= $LIB_URI %>/menu.c32
  append <%= $item->{uri} %>
<% } %>

<% foreach my $item (grep { $_->{type} eq ':dir' } @$LIST) { %>
label <%= $item->{name} %>
  menu label <%= $item->{name} %>/
  kernel <%= $LIB_URI %>/menu.c32
  append <%= $item->{uri} %>
<% } %>

<% foreach my $item (grep { $_->{type} eq ':pxe' } @$LIST) { %>
label <%= $item->{name} %>
<% if ($item->{uri} =~ m|\b(n/[^/]+)|) { %>
  pxe <%= $item->{uri} %>;r=s,/pxeroot,/<%= $1 %>,g
<% } else { %>
  pxe <%= $item->{uri} %>
<% } %>
<% } %>

<% foreach my $item (grep { $_->{type} eq ':linux' } @$LIST) { %>
<% $item->{opt} = $item->{hint}->{aufs} ?
     "aufs=nfs:tcp:$ENV{HTTP_HOST}:/$item->{hint}->{aufs}/rw" : ""; %>
label <%= $item->{name} %>
  kernel <%= $item->{uri} %>
  initrd <%= $item->{initrd} %>
<% if ($item->{uri} =~ m|\b(n/[^/]+)|) { %>
  append panic=30 console=tty0 console=ttyS0,115200 rw root=/dev/nfs ip=dhcp nfsroot=<%= $ENV{HTTP_HOST} %>:/<%= $1 %> <%= $item->{opt} %>
<% } else { %>
  append panic=30 console=tty0 console=ttyS0,115200 ro root=/dev/ram
<% } %>
<% } %>

<% foreach my $xen (grep { $_->{type} eq ':xen' } @$LIST) { %>
<% foreach my $item (grep { $_->{type} eq ':linux' } @$LIST) { %>
<% next unless $item->{uri} =~ m|\b(n/[^/]+)|; %>
<% $item->{opt} = $item->{hint}->{aufs} ?
     "aufs=nfs:tcp:$ENV{HTTP_HOST}:/$item->{hint}->{aufs}/rw" : ""; %>
label xen-<%= $item->{name} %>
  kernel <%= $LIB_URI %>/mboot.c32
  append <%= $xen->{uri} %> dom0_mem=512M noreboot com1=115200,8n1 console=com1,vga --- <%= $item->{uri} %> root=/dev/nfs rw ip=dhcp nfsroot=<%= $ENV{HTTP_HOST} %>:/<%= $1 %> panic=30 xencons=xvc console=hvc0 <%= $item->{opt} %> --- <%= $item->{initrd} %><% } %>
<% } %>

<% foreach my $item (grep { $_->{type} eq 'img' } @$LIST) { %>
label <%= $item->{name} %>
  kernel <%= $LIB_URI %>/memdisk
  append initrd=<%= $item->{uri} %>
<% } %>

<% foreach my $item (grep { $_->{type} eq 'esx' } @$LIST) { %>
label <%= $item->{name} %>
  kernel <%= $LIB_URI %>/mboot.c32
  append <%= $item->{base_uri} %>/vmkboot.gz SERIALPORT=1 serialPort=1 tty1Port=1 debugLogToSerial=1 ipappend 2 --- <%= $item->{base_uri} %>/vmk.gz --- <%= $item->{base_uri} %>/sys.vgz --- <%= $item->{base_uri} %>/cim.vgz --- <%= $item->{base_uri} %>/mod.tgz --- <%= $item->{uri} %>
<% } %>
